form {
    left-margin: 70px;
    padding: 20px;
    color: #f2f2f2;

}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-image: url('drink.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    color: goldenrod;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #C2E2F1;
}
#hi{
    display: inline-block;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#new{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding: 20px;



}
.test {
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }

.test:hover {
    background-color: #3e8e41;
}


label{width: 175px;
display: inline-block}

h1{color: #f2f2f2;
margin-left: 50px;}
