<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">


<head>

    <link rel="stylesheet"  type="text/css" href="/style.css"/>
    <title>Home Page</title>
</head>
<body>
<h1> Home Page</h1>

<div class=" Container">
    <table class=" Table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Main1</th>
            <th>Amount1</th>
            <th>Main2</th>
            <th>Amount2</th>
            <th>Directions</th>
            <th>Buttons</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">
            <td th:text="${drink.id}"></td>
            <td th:text="${drink.name}"></td>
            <td th:text="${drink.main1}"></td>
            <td th:text="${drink.amount1}"></td>
            <td th:text="${drink.main2}"></td>
            <td th:text="${drink.amount2}"></td>
            <td th:text="${drink.directions}"></td>

            <td>
                <a th:href="@{/edit/{id}(id=${drink.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${drink.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div >
    <a href="/AddDrink">Add Drinks</a>
    <br>
    <a href="/">Home</a>


</div>

</body>
</html>